@charset "UTF-8";

@font-face {
font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
src:url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
font-weight: normal;
font-style: normal;
}
  
.container {
	background-color: #FFFFFF;
	width: 97.5%;
	margin-left: 0px;
	margin-right: auto;
	border-bottom-width: 0px;
	padding-left: 2.5%;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.row {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	display: inline-block
}


.columns {
	width: 35%;
	float: left;
	font-family: "Pretendard";
	font-size: 14px;
	color: #000000;
	line-height: 29px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left ;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.last_columns {
	width: 30%;
	height: 1450px;
	float: left;
	align-content: center;
	background-image: linear-gradient(to right, #d2e3fd, #6ea5f9);
	padding-top: 20px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: auto;
	margin-right: auto;
}
.face_group{
	height: 100%;
	background-image: linear-gradient(to right, #d2e3fd, #6ea5f9);
	display: block;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
.face {
	display: inline-block;
	align-content: center;
	width: 63px;
	height: 72px;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.columns_2 {
	width: initial;
	float: left;
	font-family: "Pretendard";
	font-size: 14px;
	color: #000000;
	line-height: 29px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left ;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 20px;
}


.row .columns p {
	padding-left: 0%;
	padding-right: 0%;
}

#all{
	font-size: 16px;
	font-family: "pretendard";
	font-weight: 600;
	background-color:#ffffff;
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1), 0 2px 5px 0 rgba(0,0,0,0.08);
	margin-left: 20px;
	margin-right: 20px;
	padding-bottom: 5px;
	padding-top: 6px;
	padding-left: 15px;
	padding-right: 15px;
	border: 1.5px solid #F0F0F0 ;
	border-radius: 10px;
}

#confirm{
	font-size: 16px;
	font-family: "pretendard";
	font-weight: 600;
	background-color:#418ef7;
	color: white;
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1), 0 2px 5px 0 rgba(0,0,0,0.07);
	margin-left: 20px;
	margin-right: 20px;
	padding-bottom: 5px;
	padding-top: 6px;
	padding-left: 15px;
	padding-right: 15px;
	border: 1.5px ;
	border-radius: 10px;
}

.header{
	display: grid;
	grid-template-columns: 70% 30%;
	background-image:#ffffff linear-gradient(to right, #d2e3fd, #6ea5f9);
	width: 100%;
}

.primary_header {
	display: block;
	width: 70%;
	background-image: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	clear: left;
	border-bottom: 2px;
}
.sub_header{
	display: block;
	width: 100%;
	background-image: linear-gradient(to right, #d2e3fd, #6ea5f9);
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	font-family: "Pretendard";
	text-align: left;
	color: #000000;
	
}
.secondary_header {
	position: sticky;
	position: -webkit-sticky;
	bottom: 0;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #FFFFFF;
	clear: left;
	text-align: center;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 2px;
	border-top-width: 2px;
	font-family: 'Pretendard';
}


.noDisplay {
	display: none;
}



.footer {
	background-color: #FFFFFF;
}
.title {
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	font-family: "Pretendard";
	text-align: left;
	color: #000000;
	letter-spacing: 0px;
}
.placeholder {
	/* [disabled]max-width: 400px;
*/
	/* [disabled]max-height: 200px;
*/
	width: 100%;
	padding-top: 30px;
	/* [disabled]padding-left: 19px;
*/
	padding-bottom: 30px;
	height: 100%;
}


body, html {
	height: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .content {
  padding-top: 102px;
}






@media (max-width: 320px) {
.secondary_header ul li {
	float: none;
	margin-top: 28px;
	margin-left: 0px;
	width: 100%;
}
.container .secondary_header ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	height: auto;
	width: 100%;
	text-align: center;
}
.secondary_header {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 1px;
	padding-bottom: 40px;
}
.left_article {
	width: 100%;
	height: auto;
}
.right_article {
	width: 100%;
	height: auto;
}
.placeholder {
	width: 100%;
	margin-top: 22PX;
	margin-right: 0px;
	margin-bottom: 22PX;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	max-width: 400px;
	max-height: 200px;
	height: auto;
}
.columns {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0PX;
	padding-right: 0PX;
	padding-bottom: 0PX;
	padding-left: 0PX;
}
.columns p {
	padding-left: 10px;
	padding-right: 10px;
}
.column_half.left_half {
	width: 100%;
}
.column_half.right_half {
	width: 100%;
}
.copyright {
	padding-top: 25px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.container .left_article h3 {
	margin-top: 30px;
}
.social .social_icon img {
	width: 80%;
}
.container .secondary_header {
}
}

@media (min-width: 321px) and (max-width: 768px) {
.secondary_header ul li {
	float: none;
	margin-top: 28px;
	margin-left: 0px;
	width: 100%;
}
.container .secondary_header ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	height: auto;
	width: 100%;
	text-align: center;
}
.secondary_header {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 1px;
	padding-bottom: 40px;
}
.left_article {
	width: 100%;
	height: auto;
}
.right_article {
	width: 100%;
	height: auto;
	padding-bottom: 25px;
}
.placeholder {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	max-width: 100%;
	height: auto;
	max-height: 100%;
}
.columns {
	width: 100%;
	margin-top: 6px;
	margin-right: 0px;
	margin-bottom: 6px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.columns p {
	padding-left: 14px;
	padding-right: 14px;
}
.column_half.left_half {
	width: 100%;
}
.column_half.right_half {
	width: 100%;
}
}

@media (min-width: 769px) and (max-width: 1000px) {
.secondary_header {
	overflow: auto;
	padding-top: 30px;
	padding-bottom: 30px;
}
.secondary_header ul li {
	margin-top: 10px;
	margin-right: 7%;
	margin-bottom: 10px;
	margin-left: 7%;
}
.left_article {
	height: auto;
}
.right_article {
	height: auto;
	padding-bottom: 27px;
}
.placeholder {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
.columns {
	width: 50%;
	float: left;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.container .columns p {
	padding-left: 25px;
	padding-right: 25px;
}
}

@media (min-width: 1001px) {
}
.thumbnail {
	width: 100px;
	border-radius: 200px;
	height: 100px;
	margin-left: auto;
}
.thumbnail_align {
	text-align: center;
}
.social {
	text-align: center;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	background-color: #414141;
	clear: both;
	overflow: auto;
}
.social_icon {
	width: 25%;
	text-align: center;
	float: left;
	transition: all 0.3s linear;
	line-height: 0px;
	padding-top: 7px;
}
.container .social .social_icon:hover {
	cursor: pointer;
	opacity: 0.5;
}
#menu {
}
